- post = current_article

- content_for(:title, "#{post.title}")
- content_for(:layout, "post")
- content_for(:itemtype, "Article")
- content_for(:back, '<a class="back-to-home" href="/">⬅ Back to Blog</a>')

- if post.data.author == "sacha"
  - author = data.authors.fetch(0)
- else
  - author = data.authors.fetch(1)


= wrap_layout :layout do
  %section.post-block
    .post-body
      = partial("partials/meta", :locals => {post: post})
              
      - if post.data.thumb
        .post-thumbnail
          %a{:href => post.url}
            %img.thumb{:src => "/images/blog/"+post.data.thumb}

      %h1.post-title{:itemprop => "name"}=post.data.title

      .post-content

        - if post.data.guest
          .post-guest
            :markdown
              #{post.data.guest}

        =find_and_preserve do
          =yield
    .post-share
      %h4 Like it? Share it!
      =partial("partials/share_buttons")
  .post-author.post-block
    %h4.section-header About the Author
    %img.portrait{:src => "/images/#{author.avatar}"}
    .post-author-bio
      :markdown
        #{author.bio}
      You can find him on 
      %a{:href => 'http://twitter.com/'+author.twitter} Twitter
      - if author.gplus
        and&nbsp;
        %a{:href => author.gplus+'?rel=author'}> Google Plus
      \.

  .post-newsletter.newsletter.post-block
    %h4 Every week, learn something new about design.
    %p.widget-intro Join our weekly newsletter and you'll also receive our guide on the <strong>9&nbsp;things to look for in a designer</strong>:
    =partial("partials/newsletter_form")

  / .blog-featured
  /   %h4.blog-header Read This Next
  /   - featured_articles = blog.articles.select{|item| item.metadata[:page]["featured"] rescue false} # get all featured articles
  /   - featured_articles = featured_articles.delete_if{|item| item == post} # remove the current article
  /   - featured = featured_articles.sample() # pick one at random   
  /   =partial("partials/summary", :locals=>{post:featured})

  .blog-pagination.post-block
    .pagination-prev
      - prev_article = post.previous_article
      - if prev_article
        %h4.section-header Previous Article
        %a.prev{:href => "#{prev_article.url}", :title => "Previous Post: #{prev_article.title}"}
          %span
            «
            =prev_article.title
    .pagination-next
      - next_article = post.next_article
      - if next_article
        %h4.section-header Next Article
        %a.next{:href => "#{next_article.url}", :title => "next Post: #{next_article.title}"}
          %span
            =next_article.title
            »


  - if ENV["SHOW_COMMENTS"]
    .blog-comments
      %h4.blog-header Comments
      :plain
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'folyoblog'; // required: replace example with your forum shortname
            var disqus_identifier = '#{post.slug}';
            function disqus_config() {
                this.callbacks.onNewComment = [function() { 
                  trackEvent('New Comment'); }];
            }
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>   